@import "src/Styles/variables";

@mixin nav-item {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  margin: 0 .5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  height: 68px;

  nav {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    color: #FF6060;

    .navItem {
      @include nav-item;
    }

    .navItemActive {
      @include nav-item;
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $mobileBreak) {
    margin: 40px 100px;

    nav > a {
      font-size: 24px;
      margin: 0 1rem;
    }
  }
}

.headerLogo {
  height: 47px;
  width: 145px;

  @media screen and (min-width: $mobileBreak) {
    height: 68px;
    width: 210px;
  }
}
