@import 'src/Styles/variables';

.titleContainer {
  color: $primaryColor;

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }

  @media screen and (min-width: $mobileBreak) {

t
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
    }
  }
}
